@model ProjeTakip.Models.ViewModels.AdminDashboardVM
@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-9">
            <div>
                @if (Model.PendingProjectCount > 0)
                {
                    <h3>Hoşgeldin, @Model.AdminName.</h3>
                    <p class="text-bg-warning">Onaylanmayı bekleyen @Model.PendingProjectCount proje var.</p>
                }
                else
                {
                    <h3>Hoşgeldin, @Model.AdminName.</h3>
                }
            </div>
            <div>
                <div class="text-center">
                    <h4>Proje Teslim Tarihleri</h4>
                </div>
                <ul>
                    @foreach (var messageWithColor in Model.ProjectMessagesWithColor)
                    {
                        <li style="color: @messageWithColor.Color;">@messageWithColor.Message</li>
                    }
                </ul>
            </div>

            <!-- Takvim -->
            <div class="card mt-2">
                <div class="card-header">
                    Görev Takvimi
                </div>
                <div class="card-body">
                    <div id="calendar">
                        <!-- Takvim burada yer alacak -->
                    </div>
                </div>
            </div>

            <!-- İstatistikler -->
            <div class="row mt-4">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">
                            Ekip
                        </div>
                        <div class="card-body p-2">
                            @Model.ActiveTeamCount
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">
                            Toplam Proje Sayısı
                        </div>
                        <div class="card-body p-2">
                            @Model.ActiveProjectCount
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">
                            Tamamlanan Projeler
                        </div>
                        <div class="card-body p-2">
                            @Model.CompletedProjectCount
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">
                            Yapılmakta Olan Projeler
                        </div>
                        <div class="card-body p-2">
                            @Model.OngoingProjectCount
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mt-3">
                    <div class="card">
                        <div class="card-header">
                            Toplam Görev Sayısı
                        </div>
                        <div class="card-body p-2">
                            @Model.TaskCount
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mt-3">
                    <div class="card">
                        <div class="card-header">
                            Tamamlanan Görevler
                        </div>
                        <div class="card-body p-2">
                            @Model.CompletedTaskCount
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mt-3">
                    <div class="card">
                        <div class="card-header">
                            Yapılmakta Olan Görevler
                        </div>
                        <div class="card-body p-2">
                            @Model.InProgressTaskCount
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mt-3">
                    <div class="card">
                        <div class="card-header">
                            Tamamlanmayan Görevler
                        </div>
                        <div class="card-body p-2">
                            @Model.IncompleteTaskCount
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var events = @Html.Raw(Json.Serialize(Model.CalendarEvents));

        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            locale: 'tr',
            buttonText: {
                today: "bugün"
            },
            events: events,
            eventDidMount: function (info) {
                // Projenin bitimine bir hafta kalmışsa kırmızı yap
                if (info.event.extendedProps.isCritical) {
                    info.el.style.backgroundColor = "red";
                    info.el.style.borderColor = "red";
                } else {
                    info.el.style.backgroundColor = info.event.extendedProps.color;
                    info.el.style.borderColor = info.event.extendedProps.color;
                }
            }
        });

        calendar.render();
    });
</script>
