@model IEnumerable<ProjeTakip.Models.ViewModels.TaskVM>

<h2>Görevlerim</h2>

<table class="table">
    <thead>
        <tr>
            <th>Görev İsmi</th>
            <th>Durum</th>
            <th>Başlama Tarihi</th>
            <th>Bitiş Tarihi</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(task.TaskName, "Details", new { id = task.TaskId }, new { @class = "btn btn-outline-secondary" })
                </td>
                @if (task.OnayDurumuId == 2)
                {
                    <td class="bg-success">@task.OnayDurumuAdi</td>
                }
                else if (task.OnayDurumuId == 1)
                {
                    <td class="bg-warning">@task.OnayDurumuAdi</td>
                }
                else if (task.OnayDurumuId == 3)
                {
                    <td class="bg-danger">@task.OnayDurumuAdi</td>
                }
                else if (task.OnayDurumuId == 4 && task.TaskStatusId == 2)
                {
                    <td class="bg-info">@task.TaskStatusName</td>
                }
                else
                {
                   <td class="bg-info">@task.TaskStatusName</td>
                }
                <td>@task.StartDate.ToString("yyyy-MM-dd")</td>
                <td>@task.EndDate.ToString("yyyy-MM-dd")</td>
                @if (task.OnayDurumuId == 4 || task.OnayDurumuId == 3)
                {
                    <td>
                        @Html.ActionLink("Complete", "Complete", new { id = task.TaskId }, new { @class = "btn btn-success" })
                    </td>
                }
                else if (task.OnayDurumuId == 2)
                {
                    <td></td>
                }
            </tr>
        }
    </tbody>
</table>
