@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjeTakipUygulaması</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjeTakipUygulaması.styles.css" asp-append-version="true" />
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css' rel='stylesheet' />
    <link rel="stylesheet" href="~/css/calendar.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow">
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <h3 class="col-12 text-center"> <i class="bi bi-arrow-repeat"></i> Proje Takip</h3>
                </div>
            </div>
        </nav>
    </header>
    <div class="d-flex mt-0" id="wrapper">
        <!-- Sidebar-->
        @{
            var roleId = HttpContextAccessor.HttpContext.Session.GetInt32("RoleId");
            var roleName = "";
            var links = new List<(string LinkText, string Controller, string Action, string Area)>();

            if (roleId == 1) // Admin
            {
                roleName = "Admin";
                links = new List<(string LinkText, string Controller, string Action, string Area)>
                {
                ("Ana Sayfa", "Admin", "Index", "Admin"),
                ("Profil Yönetimi", "Profile", "Index", ""),
                ("Kullanıcı Denetimi", "User", "AllUsers", "Admin"),
                ("Kullanıcı Ekle", "User", "AddUser", "Admin"),
                ("Ekip", "Team", "Index", "Admin"),
                ("Proje", "Project", "Index", "Admin"),
                ("Bildirimler", "Notification", "Index", "Admin"),
                ("Çıkış", "Account", "Logout", "")
                };
            }
            else if (roleId == 2) // TeamLead
            {
                roleName = "Ekip Yöneticisi";
                links = new List<(string LinkText, string Controller, string Action, string Area)>
                {
                ("Ana Sayfa", "DashBoard", "Index", "TeamLead"),
                ("Profil Yönetimi", "Profile", "Index", ""),
                ("Projeler", "Task", "GetProjects", "TeamLead"),
                ("Görevler", "Task", "Index", "TeamLead"),
                ("Bildirimler", "Notification", "Index", "TeamLead"),
                ("Çıkış", "Account", "Logout", "")
                };
            }
            else if (roleId == 3) // TeamMember
            {
                roleName = "Ekip Üyesi";
                links = new List<(string LinkText, string Controller, string Action, string Area)>
                {
                ("Ana Sayfa", "Dashboard", "Index", "TeamMember"),
                ("Profil Yönetimi", "Profile", "Index", ""),
                // ("Projeler", "Project", "Index", "TeamMember"),
                ("Görevler", "TaskManagement", "Index", "TeamMember"),
                ("Bildirimler", "Notification", "Index", "TeamMember"),
                ("Çıkış", "Account", "Logout", "")
                };
            }
        }

        <div class="border-end bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light">@roleName</div>
            <div class="list-group list-group-flush">
                @foreach (var link in links)
                {
                    <a class="list-group-item list-group-item-action list-group-item-light" href = " @Url.Action(link.Action, link.Controller, new { area = link.Area })">@link.LinkText </a>
                }
            </div>
        </div>

        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <div class="container">
                <main role="main" class="pb-3">
                    <partial name="_Notification" />
                    @RenderBody()
                </main>
            </div>
        </div>
    <footer class="border-top footer text-muted text-center">
        <div class="container">
            &copy; 2024 - ProjeTakipUygulaması
        </div>
    </footer>
    <script src="~/js/scripts.js"></script>
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/wfkxiwmjo83b0u316rfx66aoh47bq4cle93drhh82hxb09b4/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js'></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />
    @await RenderSectionAsync("Scripts", required: false)
        <script type="text/javascript">
            $(document).ready(function () {
            @if (TempData["SuccessMessage"] != null)
            {
                <text>
                            toastr.success('@TempData["SuccessMessage"]');
                </text>
                ;
            }

            @if (TempData["ErrorMessage"] != null)
            {
                <text>
                            toastr.error('@TempData["ErrorMessage"]');
                </text>
                ;
            }

            @if (TempData["WarningMessage"] != null)
            {
                <text>
                            toastr.warning('@TempData["WarningMessage"]');
                </text>
                ;
            }

            @if (TempData["InfoMessage"] != null)
            {
                <text>
                            toastr.info('@TempData["InfoMessage"]');
                </text>
                ;
            }
            });
        </script>
</body>
</html>
