@model ProjeTakip.Models.ViewModels.ProjectDetailsVM

<h2>Proje Detayları</h2>

@if (Model != null) {
<div>
    <h3>@Model.ProjectName</h3>
        <p><strong>Açıklama:</strong><div>@Html.Raw(Model.ProjectDescription)</div>
    <p><strong>Ekip:</strong> @Model.TeamName</p>
    <p><strong>Ekip Lideri:</strong> @Model.TeamLeadName</p>
    <p><strong>Başlangıç Tarihi:</strong> @Model.StartDate.ToString("dd.MM.yyyy")</p>
    <p><strong>Bitiş Tarihi:</strong> @Model.EndDate.ToString("dd.MM.yyyy")</p>
    <p><strong>Proje Durumu:</strong> @Model.ProjectStatusName</p>
    <p><strong>Ekip Kapasitesi:</strong> @Model.TeamCapacity</p>
    <p><strong>Toplam Görev Sayısı:</strong> @Model.TotalTasks</p>
    <p><strong>Başarılı Görev Sayısı:</strong> @Model.SuccessfulTasks</p>
    <p><strong>Başarısız Görev Sayısı:</strong> @Model.FailedTasks</p>
</div>
}
else {
    <p>Proje bulunamadı.</p>
}
<a asp-action="Index" class="btn btn-primary">Geri Dön</a>

@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea',  // Tüm textarea elementlerine TinyMCE uygular
            plugins: 'lists link image preview',
            toolbar: 'undo redo | styles | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
            menubar: false,
            branding: false
        });
    </script>
}